[submodule "sites/all/modules/custom/mediamosa_sdk"]
	path = sites/all/modules/custom/mediamosa_sdk
	url = git@github.com:Driesvanl/mediamosa-sdk.git
[submodule "sites/all/modules/custom/mediamosa_ck"]
	path = sites/all/modules/custom/mediamosa_ck
	url = git@github.com:Driesvanl/mediamosa-ck.git
