/* TEMP EXAMPLES */
#toolbar {display: none;}body{padding-top:0 !important;}
.video img {
  height: 100%;
  width: 100%;
}


/* START STYLESHEET */
body {
  font-family: Arial;
}

h1 {
  font-size: 24px;
  color: #989898;
}

h2 {
  margin-bottom: 15px;
  border-bottom: 1px #d9d9d9 solid;
  font-size: 14px;
  font-weight: bold;
  padding: 9px 0 9px 0;
}

/* Content */
#container {
  padding-bottom: 20px ;
  overflow: hidden;
}

#page_content {
  padding: 0px 0px 50px 0px;
  overflow: hidden;
}

#container .slogan {
  padding-top: 14px;
  padding-bottom: 14px;
}

#container .slogan h1,
#container .slogan p {
  width: 960px;
  margin: auto;
  font-size: 24px;
}

#content #page_content {
  width: 960px;
  margin: auto;
  margin-top: 20px;
}

#content #page_content .block-views {
  float: left;
  width: 470px;
}

#content #page_content #block-views-mediamosa-asset-new-block {
  float: left;
  width: 470px;
}

#content #page_content #block-views-mediamosa-asset-popular-block {
  float: right;
  width: 470px;
}

#content #page_content .block-views .video {
  padding: 10px;
}

#content #page_content #block-views-mediamosa-asset-new-block .video {
  margin-right: 0;
}

#content #page_content #block-views-mediamosa-asset-popular-block .video {
  margin-left: 0;
}

#content #page_content .block-views .video .views-field {
  float: left;
}

#content #page_content .block-views .video .views-field-still-url {
  width: 211px;
  height: 132px;
}

/* Footer */
#footer {
  border-top: 4px #e2e2e2 solid;
  border-bottom: 1px #e2e2e2 solid;
  border-left: 1px #e2e2e2 solid;
  width: 958px;
  height: 76px;
  margin: 0 auto;
}

#footer .mm_logo {
  border-right: 1px #e2e2e2 solid;
  float: left;
}

#footer .menu {
  padding-top: 6px;
  float: right;
}

#footer .menu li {
  border-right: 1px #e1e1e1 solid;
  list-style: none;
  margin:0;
  padding: 0 14px 0 14px;
  float: left;
}

#footer .menu a {
  text-decoration: none;
  font-size: 12px;
  color: #6f6f6f;
}